body {
    background-color: #FFFAF0;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
    color: #444;
    padding: 0px 10px;
}

header {
    text-align: center;
}

a {
    color: #FF6000;
}

nav {
    font-size: 26px;
}

nav a {
    text-decoration: none;
    transition: color 0.25s;
}

nav a#active {
    color: #FF0000;
}

nav a:hover {
    color: #FFB000;
}

.subheader {
    font-size: 16px;
    font-style: italic;
    color: #888;
}

/* these really don't belong here but... */
.post h3, .post h4 { margin-bottom: 0px; }
.post p { margin-top: 0px; }
