body {
    background-color: #181818;
    color: #d8d8d8;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    font-family: sans-serif;
    padding: 0px 10px;
}

header {
    text-align: center;
}

a#logo {
    display: block;
    margin: 0px auto;
    width: 355px;
    height: 185px;
    background-image: url(/logo.png);
    background-image: url(/logo.svg), linear-gradient(transparent, transparent);
}

a {
    color: #dc9656;
}

nav {
    font-size: 26px;
}

nav a {
    text-decoration: none;
    transition: color 0.25s;
}

nav a#active {
    color: #ab4642;
    font-weight: bold;
}

nav a:hover {
    color: #f7ca88;
}

.subheader {
    font-size: 16px;
    font-style: italic;
    color: #585858;
}

/* these really don't belong here but... */
.post h3, .post h4 { margin-bottom: 0px; }
.post p { margin-top: 0px; }
