@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');

/* global */

html,body {
    color: #d8d8d8;
    background-color: #181818;
    font: 12pt 'Noto Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24pt;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20pt;
    margin: 0;
    padding: 0;
}

strong#subhead {
    color: #888888;
    display: block;
    margin-bottom: 1em;
}

ul {
    padding: 0 0 0 2em;
    margin: 1em 0;
}

li {
    padding: 0;
    margin: 1em 0;
}

p {
    padding: 0;
    margin: 2em 0;
}

strong { color: #dc9656; }
a { color: #86c1b9; }
a:visited { color: #ba8baf; }

/* all clients */

div#header {
    width: 100%;
    background-color: #282828;
    padding: 1em;
    box-sizing: border-box;
}

div#header > div {
    max-width: 1400px;
    margin: 0 auto;
}

div#imageboxes {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

div#content {
    border-top: 1px dotted #585858;
    padding: 1em;
    box-sizing: border-box;
}

div#content > div {
    max-width: 700px;
    margin: 0 auto;
}

div#content img.inline {
    display: block;
    max-width: 100%;
}

div#footer {
    width: 100%;
    background-color: #282828;
    padding: 1em;
    box-sizing: border-box;
    text-align: right;
}

/* mobile */

.topbox {
    clear: both;
    height: 315px;
    margin: 1.5em 0;
}

.topbox > img {
    float: left;
    margin-right: 1em;
    border: 1px dotted #585858;
}

.topbox > .topdesc {
    overflow: auto;
}

.topbox > .topdesc > h2 {
    margin-top: 0.5em;
}

/* supermobile */

@media (max-width: 600px) {

    .topbox {
        clear: none;
        height: auto;
    }

    .topbox > img {
        float: none;
    }

}

/* desktop */

@media (min-width: 1000px) {

    div#header {
        margin-bottom: 1em;
    }

    div#content {
        margin-top: 2em;
    }

    .topbox {
        clear: none;
        float: left;
        height: auto;
        margin: 0;
        width: 33.333%;
        text-align: center;
    }

    .topbox > img {
        float: none;
    }

    .topbox > .topdesc {
        float: none;
        width: 315px;
        margin: 0 auto;
        text-align: left;
    }

}
